.Search {
    background-color: lightgray;
    font-display: bold;
    font-size: 20px;
    padding-left: 25px;
    
}
.articles {
    background-color: lightgray;
    font-display: bold;
    font-size: 20px;
    padding-left: 25px;

}